@page 
@model IndexModel
@{
    ViewData["Title"] = "Podujatia";
    var upcomingEvents = Model.Events.Where(x => x.EventReservationsEnd >= DateTime.Now);
    var oldEvents = Model.Events.Except(upcomingEvents);
}

@section Scripts{
    <script asp-append-version="true" src="/js/search.js"></script>
}

<h1 class="display-4">Podujatia</h1>

<form id="searchForm" class="row g-3 mb-3">
    <div class="input-group col-12 col-md">
        @Html.Label("search", "Názov podujatia", new { @class = "input-group-text"})
        @Html.TextBox("search", "", new { @class = "form-control", placeholder = "Vyhľadať podujatie"})
    </div>
    <div class="input-group col-12 col-md">
        @Html.Label("filter", "Typ podujatia", new { @class = "input-group-text"})
        @Html.DropDownList("filter",  Model.CategoryOptions, "", new { @class="form-select" })
    </div>
    <div class="col-12 col-md">
        <button type="submit" class="btn btn-dark">Vyhľadať</button>
    </div>
</form>

<div id="list" class="row g-3">
    @if(Model.Events.Any())
    {
        @await Html.PartialAsync("/Pages/Shared/_EventListPartial.cshtml", upcomingEvents)
        @await Html.PartialAsync("/Pages/Shared/_EventListPartial.cshtml", oldEvents)
    }else{
        <p>Aktuálne žiadne podujatia</p>
    }
</div>